{% extends 'rango/base.html' %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">
            Login
        </h1>
    </div>
</div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form class="form-signin" role="form" method="post" action=".">
                    {% csrf_token %}
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus />

                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required />

                    <br />
                    
                    <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>

                    <p class="mt-5 mb-3 text-muted">
                        Not registered?
                        <a href="{% url 'registration_register' %}">Register here!</a>
                    </p>
                </form>
                <br />
            </div>
        </div>
    </div>

{% endblock %}
